extends ../layouts/default

block content
	.container.comments
block js
	script.
		$(document).ready(function(){
			setTimeout(function(){
				window.location.href = document.referrer;
			},1000)
		});
		