body{
	font-family: medium-content-sans-serif-font, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif !important;
}
.ant-layout{
	background: white;
}
ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}